body {
  font-family: "Arial", sans-serif;
  background: rgba(121, 105, 155, 0.837);
  color: white;
  text-align: center;
  margin: 0;
  padding: 20px;
}

h1, h2, h3 {
  margin: 10px;
}

.btn {
  background: gold;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: orange;
  transform: scale(1.05);
}

#gameArea {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  width: 200px;
  height: 300px;
  background: white;
  color: black;
  border-radius: 10px;
  box-shadow: 0 0 8px black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: bold;
  margin: 10px;
  transition: 0.5s;
  opacity: 0;

}

.card.show {
  opacity: 1;
  transform: scale(1);
}
.card:hover{
transform: scale(1.05);
}
